/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  font-family: 'Open Sans', sans-serif;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 48rem;
  color: #262626;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    font-family: 'Open Sans', sans-serif;
    padding: 2rem;
  }
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.75rem;
  font-weight: 700;
}

.buttons {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -.75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 1.15rem;
  background: #fff;
  padding: 8px 20px;
  color: #262626;
  letter-spacing: .1px;
  font-weight: bold;
  border-radius: 30px;
}

.button:hover {
  background: #e8e8e8;
  color: #262626;
  text-decoration: none;
}

.logo {
  width: 180px;
}