/* Footer CSS */
.pageFooter {
  background-color: #f1f3f3;
  text-align: center;
  color: #090909;
  padding: 30px 0;
  font-weight: bold;
}

.pageFooter .icon {
  color: #c2c3c3;
  font-size: 24px;
  margin: 0 10px;
}

.pageFooter .icon:hover {
  color: #090909;
}

.pageFooter p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: rgba(96, 95, 95, 0.87);
}

.pageFooter p a {
  color: var(--ifm-color-primary);
  font-weight: 600;
}
/* Footer section CSS */